/.vscode/
/.idea/
main/__pycache__/
main/enums/__pycache__/
inventory_main/__pycache__/
task_pipeline/__pycache__/
__pycache__/server.cpython-38.pyc
__pycache__/task_model.cpython-38.pyc
inventory_main/__pycache__/__init__.cpython-38.pyc
inventory_main/__pycache__/inventory.cpython-38.pyc
main/enums/__pycache__/mode_of_execution.cpython-38.pyc
main/enums/__pycache__/stage_status.cpython-38.pyc
main/enums/__pycache__/task_type.cpython-38.pyc
